# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
ENV/
env/
*.env

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# dotenv / secrets
.env
